<div id="box">
    <div class="container">
        <h1>Box</h1>
        <table class="table table-bordered">
            <tbody>
            <tr>
                <th>Name</th><td><%= box.name %></td>
            </tr>
            <tr>
                <th>Price</th><td><%= box.price %></td>
            </tr>        
            </tbody>
        </table>
    </div>
</div>